<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='5-1.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}" />
    <!link rel="icon" type="image/png" href="./images/logo.png" />
</head>
<body>
    <header>
        <! div class="header"><!/div>
        <div class="logo" onclick="window.location.href='{{ url_for('home') }}'">
        </div>
        <div class="user-actions">
            <a href="{{ url_for('register') }}" class="register">Register</a>
            <a href="{{ url_for('login') }}" class="login">Log In</a>
        </div>
    </header>
    <div class="container">
        <h2>Log In</h2>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your password">
                <a href="#" class="forgot-password">Forgot Password?</a>
            </div>
            <button type="submit" class="btn-login">Log In</button>
        </form>
    </div>
    <footer class="footer">
        &copy; 2024 - Quotiverse
    </footer>
</body>
</html>
